body{
	background-color: black;
}

.navbar{
	border-bottom: 1px solid #fafafa;
}
.sub-container{
	background-color: #202223;
	color:white;
}
.well{
	background: #202223;
	color:white;
	height: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	}

img{
	width: 100%;
}

@media(min-width: 960px){
	
	#movies.col-md-3.well{
	height: 390px;
	}

	#movies.col-md-3 img{
	height: 240px;
	}
}
